
@import"vars";
@import"libs";
@import"fonts";

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
h1{
    color: black;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
  color: #ffffff;
}






.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;

}
.container-fluid{
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 0;
}
body{
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    display: table;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}









.header__top{
    background-color: #dcdcdc;
    position: relative;
    z-index: 10;
}
.header__contacts{
    float: right;
    margin-top: -35px;
}
.header__top{

  height: 230px;
}
.container__top{
  padding-top: 65px;
}
.header__logo{
    // padding-top: 35px;
    float: left;
}
.header__phone{
    margin-top: 5px;
    font-family: 'MyWebFont';
    color: #8e8e8e;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
}
.header__feedback{
    margin-top: 5px;
    float: right;
    font-family:'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #777777;
}
.header__feedback::after{
    content: " ";
    border-bottom: 2px dashed #777777;
    position: relative;
    margin-top: -2px;
    width: 100%;
    display: block;
}
.header__feedback:hover{
    color: #444444;
    transition: all 0.4s ease;
}
.header__feedback:hover::after{
    border-bottom: 2px dashed #444444;
    transition: all 0.4s ease;
}










.menu{
    min-width: 100%;
    background-color: #777777;
  position: relative;
  z-index: 10;
}
.header__menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 80px;
    position: relative;
    padding: 20px 0;
}
.header__menu ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header__menu li{
    font-size: 30px;
    display: inline-block;
    text-align: center;
    padding: 3px 0;
    border-right: 2px solid;

}
.header__menu li a{
    color: #fff;
    padding: 0 12px;
}
.header__menu li:last-child {
  padding-right: 0;
  border-right: none;
}
.header__menu li a::after{
    content: " ";
    border-bottom: 1px solid transparent;
    position: relative;
    margin-top: 2px;
    width: 100%;
    display: block;
    transition: all 0.2s ease;
}
.header__menu li a:hover::after{
    border-bottom: 2px solid #fff;
}








.slider__wrapper{
    background-color: #f8f8f8;
    background-size: cover;
    max-height: 400px;
    height: 100%;
    margin: 0 auto;
}
.slider{
 top: -64px;
        max-height: 400px;
        width: 100%;
        margin: 0;
}
.slider__item img{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 80%;
}
.slider__arrows{
    position: absolute;
    top: 215px;
    cursor: pointer;
    z-index: 4;
    width: 35px;
    height: 60px;
}
.slider__arrows-left{
    left: 10%;
    margin-left: 10px;
}
.slider__arrows-right{
    right: 158px;
}


.content-wrapper{
    min-height: calc(155vh - 220px);
}



.submenu{
    padding-left: 0;
}
.submenu li{
    display: inline-block;
}
.submenu li a{
    color: #767676;
    font-size: 14px;
    line-height: 18px;
}
.submenu__a{
  text-decoration: underline;
}
.oblique-symbol{
    color: #767676;
}
.content__inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  padding-bottom: 420px;
}










.leftblock{
    position: absolute;
    float: left;
    max-width: 190px;
    width: 100%;
    height: inherit;
    left: 0;
    top: 25px;
    padding-right: 15px;
}










.droplists {
  width: 100%;
  margin: 0;
  padding: 0;
  .tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 22px;
    color: #767676;

    .items {

      h4 {
        font-size: 18px;
        margin: 0;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.45px;
        line-height: 30px;
        text-align: left;
      }

      h4:hover {
        text-decoration: underline;
      }

      ul {
        margin: 0;
        padding: 0;
        padding-left: 20px;
        list-style-type: disc;
        display: none;

        li {
          text-decoration: none;
        }

        li:hover {
          color: #010101;
          text-decoration: underline;
        }
      }
    }
    .items:hover {
      ul {
        display: block;
      }
    }
  }
}







.price__excel{
    float: left;
    margin-top: 100px;
}
.price__excel a p:hover{
    color: #6b0c36;
    transition: all 0.3s ease;
}
.price__excel img{
    position: relative;
    margin-left: 25px;
}
.price__excel p{
    position: absolute;
    margin-top: -5px;
    text-align: center;
     color:#444444;
    font-size: 30px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.goods{
    margin-left: 20px;
    margin-top: 20px;
}










.centerblock{
    max-width: 792px;
    width: 100%;
    color: #767676;
    position: relative;
    left: 183px;
}
.centerblock__items{
    display: flex;
    flex-wrap: wrap;
}
.centerblock__item{
    max-width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    margin-bottom: 14px;
    margin-left: 7px;
    margin-right: 7px;
}
.centerblock__item:nth-child(3){
  margin-right: 0;
}
.centerblock__item:nth-child(3n+1){
  margin-left: 0;
}
.centerblock__item a{
    color: #7d7d7d;
}
.centerblock__item a:hover{
    color: #6b0c36;
    transition: all 0.3s ease;
}
.centerblock__item img{
    display: block;
    align-items: center;
}
.centerblock__item-1_title,
.centerblock__item-2_title,
.centerblock__item-3_title,
.centerblock__item-4_title,
.centerblock__item-5_title{
    padding: 15px 45px 62px 20px ;
    text-align: start;
    font-size: 18px;
    line-height: 18px;
}
.centerblock__item-1_price,
.centerblock__item-2_price,
.centerblock__item-3_price,
.centerblock__item-4_price,
.centerblock__item-5_price{
    float: left;
    bottom: 10px;
    margin-left: 20px;
    font-size: 28px;
    line-height: 18px;
    font-weight: bold;
}
.centerblock__basket{
    float: right;
    bottom: 10px;
    margin-right: 40px;
}
.centerblock__basket img{
    transition: all 0.4s ease;
}
.centerblock__basket img:hover{
     transform: scale(1.2);
}
.centerblock__page-link{
    display: flex;
    justify-content: center;
    bottom: 0;
    text-align: center;
    letter-spacing: 8px;
    font-size: 14px;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 60px;
    border-bottom: 1px solid #777777;
    width: 99%;
    margin-left: 7px;
    padding-left: 3px;
}
.centerblock__page-link a{
    padding: 0 6px;
    color: #767676;
    float: left;
}

.centerblock__about-inner{
    position: relative;
    font-size: 14px;
    line-height: 22px;
    color: #767676;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    width: 100%;
}
.centerblock__about-left{
    float: left;
    max-width: 370px;
}
.centerblock__about-right{
    max-width: 370px;
    float: right;
}
.centerblock__page-link .open__page{
  font-size: 18px;
  color: #444444;
}





.footer{
  width: 100%;
  height: 220px;
  background-color: #777777;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.footer_wrapper{
  padding: 50px 10px;
  color: #ffffff;
  float: left;
  width: 1000px;
  display: flex;

}
.footer_left{
  margin-left: 0;
  width: 200px;
}
.footer_center{
  margin-left: 150px;
  width: 119px;
}

.foot_center_a{
  text-decoration: underline;
}
.foot_right_a{
  text-decoration: underline;
}
.footer_right{
  width: 170px;
  position: relative;
  float: right;
  margin-left: 340px;
}
.foot_right_a::before{
  content: url("../img/company.png");
  width: 36px;
  height: 38px;
  position: absolute;
  display: block;
  margin-left: -50px;
  top: 5px;
}
.clearfix {
  overflow: auto;
}































.btn{
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
}
.btn img{
    width: 27px;
    height: 27px;
    position: absolute;
    right: 0;
    top: 0;

}

#file_form{
  position: fixed;
}
.btn{
  position: absolute;
  margin-right: -92px;
  margin-top: -47px;
}



// Валидация форм
input:not(:placeholder-shown) {
    background-image: none;
    border: 2px solid black;
    background-color: #E8F0FE;
  }
.notvalid{
    background-image: url('../img/input-background.png');
    background-repeat: no-repeat;
    background-position: -2px -3px;
    border: 1px solid red;
}
    .in_pl:focus{
    background:#fff;
    }

#modal{
    color: #535353;
    width: 470px;
    min-height: 580px;
    padding: 20px 65px 20px;
}
#modal p{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #535353;
    text-transform: uppercase;
    font-weight: bold;
}
#modal input[type="submit"]{
    background-color: #777777;
    color: #fff;
    width: 130px;
    height: 40px;
    margin: auto;
    font-size: 17.8px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 142px;
    border: none;
}
#modal textarea{
    padding: 10px 10px;
    resize: none;
    height: 140px;
}
input,
label,
textarea{
    display:block;
    width: 100%;
    margin-bottom: 40px;
    width: 340px;
    height: 40px;
    padding: 0 10px;
}
textarea{
    margin-bottom: 0;
}
label{
    text-align: center;
    font-weight: 500;
}
button{
    outline: none;
}


@import"media";
